header {
  border-bottom: 2px solid #afaaaa;
  -webkit-box-shadow: 3px 0px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 3px 0px 0px rgba(0, 0, 0, 0.31);
  box-shadow: 3px 0px 0px rgba(0, 0, 0, 0.31);
}
header .header-logo {
  width: 100%;
  text-align: center;
}
header .header-logo img {
  border-bottom: 2px #b7b8b2 solid;
  padding: 20px 100px 25px;
}
header .header-descript {
  text-align: center;
}
header .header-descript h2 {
  color: #676565;
  font-size: 24px;
  font-weight: normal;
}
.menu {
  margin-top: 6px;
  border-bottom: 2px solid #afaaaa;
  -webkit-box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.31);
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.31);
  height: 48px;
}
.menu nav {
  text-align: center;
  width: 1280px;
}
.menu nav ul {
  padding: 5px 0;
  margin: 0;
}
.menu nav ul li {
  display: inline;
  list-style-type: none;
}
.menu nav ul li + li {
  padding-left: 36px;
}
.menu nav ul li a {
  font-size: 24px;
  color: #676565;
}
.content {
  background: #f2f0e8;
  padding-top: 70px;
  padding-bottom: 70px;
  min-height: 400px;
  overflow: auto;
}
.content .content-view {
  border-bottom: 2px solid #afaaaa;
  border-top: 2px solid #afaaaa;
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.content .content-view .content-view--item1,
.content .content-view .content-view--item2 {
  padding: 0;
}
.content .content-view .content-view--item1 {
  border-right: 1px solid #afaaaa;
}
.content .content-view .content-view--item2 {
  border-left: 1px solid #afaaaa;
}
.content .content-view .item-name {
  background: #fff;
}
footer {
  padding: 20px 0;
  text-align: center;
  border-top: 2px solid #bfb9b9;
}
footer .footer {
  padding-top: 20px;
}
footer .footer p {
  margin: 0;
  color: #b7b8b2;
}
